<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<form method="PUT" th:fragment="update(object)" th:object="${__${object}__}"
      class="form-style">
    <fieldset>
        <legend style="padding-top: 20px; font-size: 37px;">
            <span th:text="#{__${object}__.add}">Add</span>
        </legend>
    </fieldset>
    <div th:replace="/fragments/inputs/text.html :: text('job.jobtitle', 'JobTitle', 'jobTitle')"></div>

    <div th:replace="/fragments/inputs/text.html :: text('global.description', 'Description', 'description')"></div>

    <div class="form-group row">
        <label th:for="minYearsOfExperience" class="col-sm-3 col-form-label"
               th:text="#{job.minYearsOfExperience}">minYearsOfExperience</label>
        <div class="col-sm-10">
            <input type="number" step=".5" min="0" class="form-control" id="minYearsOfExperience"
                   th:field="*{minYearsOfExperience}" th:placeholder="#{job.minYearsOfExperience.placeholder}" />

            <span class="validationError" th:if="${#fields.hasErrors('*{minYearsOfExperience}')}"
                  th:errors="*{minYearsOfExperience}">minYearsOfExperience Error</span>
        </div>
    </div>

    <div class="form-group row">
        <label th:for="wage" class="col-sm-3 col-form-label"
               th:text="#{job.wage}">wage</label>
        <div class="col-sm-10">
            <input type="number" step="1" min="0" class="form-control" id="wage"
                   th:field="*{wage}" th:placeholder="#{job.wage}" />

            <span class="validationError" th:if="${#fields.hasErrors('*{wage}')}"
                  th:errors="*{wage}">wage Error</span>
        </div>
    </div>

    <div th:replace="/fragments/inputs/select-one.html :: select('job.company', 'Company', ${object}, 'hiringCompany', 'companies')"></div>

    <div class="form-group row">
        <label th:for="jobType" class="col-sm-3 col-form-label"
               th:text="#{job.jobType}">jobType</label>
        <div class="col-sm-10">

            <select name="jobType" class="form-control" th:placeholder="#{select.field.null}">
                <option th:id="firstOption" th:disabled="true" th:selected="true" th:value="null" th:text="#{job.jobType}">Job Type</option>
                <option th:each="jobType : ${jobTypes}" th:value="${jobType}" th:text="${jobType}" ></option>
            </select>
            <span class="validationError" th:if="${#fields.hasErrors('*{jobType}')}"
                  th:errors="*{jobType}">jobType Error</span>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" th:text="#{global.submit}">Submit</button>
        </div>
    </div>

</form>


</body>

</html>